body{
    background-image: url('./img/background.png');
    font-family: 'Roboto';
    font-style: normal;
    ;color: #003459;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
}

p{
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
}    