.data{display: flex;flex-direction: column;}
.upperSec{display: flex;flex-direction: row;justify-content:space-between;}

.duration{
    
    text-align: right;
}
h4{font-weight: 700;
    font-size: 21px;
    line-height: 25px;}
h5{color: #7C7C7C;
    font-weight: 500;
     font-size: 18px;
    line-height: 20px;}
h6{color: #7C7C7C;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;}
